@charset "utf-8";

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
}                                
:root{
    --header:#2f99f4;
    --nav:#4fb2f7;
    --nav2:#3431eb;
    --cor2:black;
    --main:#ffffff;
}
body{
    background-image: url(Katlin-imagens/livro4.jpg);
}
header{
    background: var(--header);
    min-height: 170px;
    padding-top: 15px;

}
header h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 7vw;
    color: white;
    text-shadow: #8260c0 10px 5px 10px;

}
header p{
    line-height: 25px;
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 15px 10px 15px 10px;
    max-width: 600px;
    margin: auto;
}
nav{
    background-image:linear-gradient(to bottom, var(--nav),var(--nav2));           /*linear da cor nav para a cor nav2    de baixo pra cima*/
    padding: 10px 0px 10px 0px;
    text-align: center;
}
nav a{
    padding: 10px 15px 10px 15px;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    transition-duration: 1s;
}
nav a:hover{
    background-color: #8260c0;
    border-radius: 5px;
    border: #ffffff;
    
}