@charset "utf-8";

body{
    background-image: url(Katlin-imagens/livro4.jpg);
}
main{
    min-width: 250px;
    max-width: 900px;
    background-color: var(--main);
    margin: auto;
    padding: 20px;

}
article{
    display:flow-root;
}
main h1{

    font-size: 25px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
main p{
    font-size: 18px;
    font-style: italic;
    text-align: justify;
    text-indent: 25px;
    line-height: 27px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 17px;
}
h1{
    color:rgb(0, 0, 0);
}
img{
    max-width: 150px;
    margin-right:20px;
}

